.root {   
    -fx-base: rgb(30, 30, 30);
    -fx-background: rgb(30, 30, 30);
    -fx-control-inner-background:  rgb(30, 30, 30);
    -fx-focus-color: transparent; 
    -fx-faint-focus-color: transparent;
    -fx-accent: rgb(190,190,190);
    -fx-light-text-color: rgb(190,190,190);
    -fx-dark-text-color: rgb(30, 30, 30);   
    
}

.tree-cell:filled:selected ,
.table-row-cell:filled:selected {
    -fx-background-color: -fx-accent;
}
