/* PlayMenu */
/* Buttons */
#nextButton {
   -fx-background-radius: 0.0 3.0 3.0 0.0;
   -fx-pref-height: 35.0;
} 
#prevButton {
   -fx-background-radius: 3.0 0.0 0.0 3.0;
   -fx-pref-height: 35.0;
 
}
#playButton {
   -fx-background-radius: 0.0 0.0 0.0 0.0;
   -fx-pref-height: 35.0;
   -fx-graphic: url("../image/play.png");
}
   

/* Slider */
/* Label */
