/* PlayMenu */
/* Buttons */
#nextButton {
   -fx-background-radius: 0.0 3.0 3.0 0.0;
} 
#prevButton {
   -fx-background-radius: 3.0 0.0 0.0 3.0;
}
#playButton {
   -fx-background-radius: 0.0 0.0 0.0 0.0;
}
   

/* Slider */
/* Label */
