/* FilterMenu */
.filter-pane {
   -fx-pref-width: 150;
}
/* PlayMenu */
.control-pane {
   -fx-padding: 7.0 7.0 7.0 7.0;
   -fx-alignment: CENTER;
   -fx-spacing: 5.0;
   -fx-pref-width: 175.0;
   -fx-pref-height: 100.0
}
.status-pane {
   -fx-alignment: CENTER;
   -fx-spacing: 10.0
}
.status-sub-pane {
   -fx-alignment: CENTER_LEFT;
}

/* Buttons */
#nextButton {
   -fx-background-radius: 0.0 3.0 3.0 0.0;
} 
#prevButton {
   -fx-background-radius: 3.0 0.0 0.0 3.0;
}
#playButton {
   -fx-background-radius: 0.0 0.0 0.0 0.0;
} 
/* Slider */
#volumeSlider {
      -fx-padding: 0.0 0.0 0.0 5.0;
}
#durationSlider {
   -fx-padding: 0.0 0.0 0.0 5.0;
}
/* Label */
#durationLabel {
   -fx-font-size: 40.0;
}